.resize-width-handle {
  right: calc(var(--resize-handle-size) / -2);
  top: calc(50% - calc(var(--resize-handle-size) / 2));
}

.resize-width-handle.rtl {
  right: unset;
  left: calc(var(--resize-handle-size) / -2);
  top: calc(50% - calc(var(--resize-handle-size) / 2));
}

.resize-width-handle:hover {
  cursor: ew-resize;
}
